@use "../global" as g;

.p-header-nav {
  display: none;

  @include g.mq(lg) {
    display: block;
  }
}

.p-header-nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.p-header-nav__link {
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;

  @include g.hover-line();
}

.p-header-nav__button {
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
