@use "../global" as g;

.p-header-nav {
  display: none;

  @include g.mq(xl) {
    display: block;
  }
}

.p-header-nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.p-header-nav__link {
  display: inline-block;
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
  position: relative;

  &:hover::after {
    transform: scaleX(1);
  }

  &::after {
    background-color: g.$color-accent;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    width: 100%;
  }

  @include g.mq(xl) {
    font-size: 20px;
  }
}

.p-header-nav__button {
  font-family: g.$ff-en;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
  font-size: 20px;
}
