@use "../global" as g;

.c-button {
  display: inline-block;
  text-align: center;
  width: 240px;
  padding-block: calc(17px - 2px); // 2pxはボーダー分
  border-radius: 55px;
  border: 2px solid currentColor;
  background: g.$color-bg;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.28px;
  font-weight: 700;
  transition: background 0.3s;

  &:hover {
    color: g.$color-text-white;
    background: g.$color-accent;

    svg path {
      fill: g.$color-text-white;
    }
  }

  &--github {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
